
.idea/
./src/MNIST_data/
./src/2_drug_arrange.txt
./src/2_drug_arrange.txt.bak
./src/1_score_arrange.txt
./private_pku/docs/ppt/
./private_pku/bin/
./private_pku/docs/ppt_template/
./BasicStatis/
.DS_Store
